<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

	<event name="adminhtml_customer_save_after">
        <observer name="WGRedmond_FraudFighter_Create_Account_Backend" instance="WGRedmond\FraudFighter\Observer\Events\CreateAccountBackendEvent" />
    </event>

</config>
